[Unit]
Description=Code Server IDE ({{ username }})
After=network.target

[Service]
Type=simple
User={{ username }}
Restart=on-failure
RestartSec=10
{% if configure_ssl is defined and configure_ssl %}
ExecStart=/usr/bin/code-server --cert "{{ cert_dir_dest }}/{{ cert_name }}" --cert-key "{{ cert_dir_dest }}/{{ key_name }}"
{% else %}
ExecStart=/usr/bin/code-server --log debug
{% endif %}
ExecStop=/bin/kill -s QUIT $MAINPID


[Install]
WantedBy=multi-user.target